.button-wrapper {
    margin-top: 25px;
    border-radius: 3px;
    color:black;
    appearance: none;
    -webkit-appearance: none;
    border:0;
}

.button {
    appearance: none;
    -webkit-appearance: none;
    border:0;
    text-decoration: none;
    width:100%;
    font-size: 18px;
    padding: 8px 65px;
    border-radius: 3px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    box-shadow: 0 2px 8px 2px rgba(255, 105, 135, .3);
    color: var(--text);
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    outline:none;
}

.button.secondary {
    background: linear-gradient(225deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    box-shadow: 0 2px 8px 2px rgba(0, 123, 255, .3);
}

.button.success {
    background: linear-gradient(45deg, #11998e 30%, #38ef7d 90%);
    box-shadow: 0 2px 8px 2px rgba(36, 195, 134, .3);
} 

.button.has-wrapper {
    width:100%;
    padding-left:0;
    padding-right:0;
}