#error, #warning {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top:58px;
    padding-left:65px;
    animation: scale-in .25s ease-out 0s 1;
}

@keyframes scale-in {
    from {opacity:0; transform:scale(.95);}
}

#error > h1, #error > p,
#warning > h1, #warning > p {
    text-align: center;
    display:block;
    padding: 0 27.5%;
}

#error > p, #warning > p {
    padding: 0 30%;
    font-size: 20px;
    margin: 15px 0;
}

#warning > h1 {
    font-size: 36px !important;
}

#error > button.button-wrapper,
#warning > button.button-wrapper {
    margin-top: 30px;
}

#warning-checkbox {
    margin-right: 10px;
}

.check > span,
.check > span > svg {
    color:#f50057;
}

#warning-label {
    color:var(--text-2);
    font-size: 16px;
    font-weight: normal;
}

#warning-setting {
    transform: scale(.925);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 27.5%;
    margin-top:15px;
}