#history-container, #history-container-blank {
    display:flex;
    flex-direction: column;
    width:700px;
    margin:40px auto 125px auto;
    padding:15px;
    border-radius:5px;
    background-color:var(--card);
    box-shadow:0 5px 15px rgba(0,0,0,.275);
    animation: fade-in .25s ease-out;
}

@keyframes fade-in {
    from { opacity:0; transform: translateY(10px); }
}

.history-list {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:rgba(255,255,255,.2);
    border-radius: 5px;
}

.history-name {
    font-size: 19px;
    color:var(--text-1);
    flex:1;
    text-align: left;
    height:48px;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    padding:0 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.check > span,
.check > span > svg {
    color:#f50057;
}

.history-selector, .history-selector > i.material-icons {
    color: var(--text-2);
}

#history-popup-menu {
    position:absolute !important;
}

#history-popup-menu > div:last-child {
    background-color: var(--root-2);
}

#history-popup-menu > div:last-child > ul > li {
    color: var(--text-1);
    text-transform: uppercase;
}

#history-manage {
    width:260px;
    position:fixed;
    bottom:50px;
    left:calc(50% - 130px);
    background-color: var(--root-1);
    border-radius: 5px;
    box-shadow:0 10px 30px rgba(0,0,0,.75);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    animation: fade-in .25s ease-out;
}

#history-manage-cancel, #history-manage-remove {
    flex:1;
    text-align: center;
    font-size: 16px;
    padding:15px;
    font-weight: bold;
    font-size: 16px;
    padding-left:5px;
    padding-right:5px;
}

#history-manage-cancel {
    color:var(--text-2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-transform: uppercase;
}

#history-manage-remove {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:var(--danger);
    text-transform: uppercase;
}

.link-menu-item {
    color:var(--text-1);
    text-decoration: none;
}