#history-container, #history-container-blank {
    display:flex;
    flex-direction: column;
    width:700px;
    margin:50px auto 0 auto;
    padding:15px;
    border-radius:5px;
    background-color:var(--card);
    box-shadow:0 5px 15px rgba(0,0,0,.275);
    animation: fade-in .25s ease-out;
}

@keyframes fade-in {
    from { opacity:0; transform: translateY(-10px); }
}

.history-list {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:rgba(255,255,255,.2);
    border-radius: 5px;
}

.history-name {
    font-size: 19px;
    color:var(--text-1);
    flex:1;
    text-align: left;
    height:48px;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    padding:0 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.check > span,
.check > span > svg {
    color:#f50057;
}

.history-selector, .history-selector > i.material-icons {
    color: var(--text-2);
}

.history-popup-menu > div:last-child {
    background-color: var(--root-2);
}

.history-popup-menu > div:last-child > ul > li {
    color: var(--text-1);
}