#loadscreen, #loadscreen-instant {
    display:flex;
    width:100%;
    height:calc(100vh - 58px);
    position:fixed;
    z-index:1000;
    top:58px;
    left:0;
    padding-bottom:58px;
    background-color:var(--root-2);
    animation: load-in 2.5s ease-out 0s 1;
}

@keyframes load-in {
  0% {opacity:0}
  90% {opacity:0}
  100% {opacity:1}
}

#loadscreen-instant {
  animation: instant-load-in .25s ease-out 0s 1 !important;
}

@keyframes instant-load-in {
  from {opacity:0;}
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}
  
.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.circular-shadow {
  top:5px !important;
  left:5px !important;
  opacity:.25;
  filter: blur(5px);
}
  
.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: var(--primary);
}

.path-shadow {
    stroke: var(--primary-2) !important;
    opacity:.5;
}

#reload-button {
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 16px;
    color:var(--primary);
    text-transform: uppercase;
    width:100%;
    position:absolute;
    text-align: center;
    bottom: calc(22.5% - 50px);
    cursor:pointer;
    border:1px solid var(--primary);
    transition: background-color .25s ease-out;
    animation: reload-in 5s ease-out 0s 1;
}


#reload-button:hover, #reload-button:focus {
  background-color:rgba(236,94,105,.1);
}

@keyframes reload-in {
  0% {opacity:0;}
  92.5% {opacity:0;}
  100% {opacity:1;}
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
}