#redirect-page {
    width:750px;
    margin-left:auto;
    margin-right:auto;
    height:calc(100vh - 58px);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#redirect-image-container {
    padding:30px;
}

#redirect-image-wrapper {
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgba(0,0,0,.8);
}

#redirect-detail {
    width:450px;
    display:flex;
    flex-direction: column;
    padding: 15px;
}

#redirect-preview-image {
    border-radius: 5px;
    width:100%;
}

#redirect-preview-image.blur {
    filter: blur(10px) !important;
}

#redirect-code {
    font-size: 16px;
    font-weight: 300;
    color:var(--text-2);
    margin:0 0 10px 0;
    opacity:.5;
    text-decoration: underline;
}

#redirect-preview {
    width:350px;
}

#redirect-button, #h-rayriffy-button {
    width:200px !important;
    border-radius: 5px;
    margin-top:15px;
}

#redirect-button > a, #h-rayriffy-button {
    width:100%;
}

#preview-fetching {
    width:100%;
    text-align: center;
    font-size: 18px;
}

#redirect-description {
    font-size: 16px;
    margin:8px;
    color:var(--text-1);
}

#redirect-tag {
    width:100%;
    margin: 15px 0;
}

#redirect-tag > div {
    display:inline-block;
    margin: 3px;
    padding:2px 6px;
    border-radius: 3px;
    color:var(--primary-1);
    border:1px solid var(--primary-1);
    background-color:transparent;
    font-weight: bold;
    font-size: 13px;
}