@media screen and (max-width: 767.9px){
    #error {
        padding-left:0 !important;
    }
    #redirect-page {
        display: block;
        margin-bottom: 50px;
        height: auto !important;
    }
    #redirect-page, #redirect-detail {
        width:100% !important;
        flex-direction: column !important;
        padding: 0 5%;
    }
    #notify-container {
        display:none;
    }
    #settings, #history-container, #history-container-blank {
        width: 90% !important;
    }
}

@media screen and (max-width: 568px){
    #sidebar {
        left: -65px;
        transition: left .25s ease-out;
    }
    #sidebar.active {
        left: 0;
    }
    #pages, #error, #warning {
        padding-left:0 !important;
    }
    #search {
        display:none;
    }
    #nav {
        padding: 0 15px;
    }
    #nav-menu {
        width:35px;
        height:35px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    #generate-detail {
        flex-direction: column !important;
        width:100%;
        padding: 0 30%;
    }
    #generate-detail > button {
        width: 100% !important;
        margin:5px 0 !important;
    }
    #generate-preview {
        margin-bottom:0 !important;
    }
    #generate-detail {
        width:100% !important;
        padding: 0 15%;
    }
    #notify-container {
        display:none;
    }
    #main-card-container {
        flex-direction: column !important;
    }
    #home-page {
        padding:35px 2.5% !important;
    }
    .main-card-wrapper {
        padding-bottom:0 !important;
    }
    #warning > h1 {
        padding: 0 5% !important;
        font-size: 32px !important;
    }
    #warning > p {
        padding: 0 6.25% !important;
    }
    #settings > div {
        padding:20px 15px;
    }
    #settings > div > div {
        padding:10px 0;
    }
}

@media screen and (min-width:768px) and (max-width: 959.9px){
    #notify-container {
        display:none;
    }
}

@media screen and (min-width: 960px) and (max-width:1359.9px){
    #notify-container {
        display:none;
    }
}

@media screen and (max-height: 578px){
    #pages, #generate-page {
        justify-content: flex-start;
    }
}

@media all and (display-mode: standalone){
    @supports (-webkit-overflow-scrolling: touch){
        #nav { height:78px; padding-top:20px !important; }
        #sidebar { height:calc(100vh - 78px); top:78px; }
        #pages, #error {padding-top:68px !important;}
    }
}