#settings {
    padding:50px 0;
    display: flex;
    flex-direction: column;
    width:700px;
    margin:0 auto;
}

.setting-card {
    display:flex;
    flex-direction: column;
    width:100%;
    padding:25px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.275);
    background-color: var(--card);
}

.setting-card > h1 {
    font-size: 24px;
    font-weight: bold;
    color:var(--text);
    margin: 0 0 10px 0;
}

.setting-card > div {
    display:flex;
    flex-direction: row;
    width:100%;
    padding:0 30px 0 10px;
    margin:0 10px;
    min-height:48px;
    justify-content: space-between;
    align-items: center
}

.setting-card > div > p {
    flex:1;
}

.check > span,
.check > span > svg {
    color:#f50057;
}

.setting-button {
    height:48px;
    padding: 0 10px;
    font-size: 16px;
    color:#f50057;
    text-transform: uppercase;
    border-radius: 5px;
}