#sidebar {
    width:65px;
    height:calc(100vh - 58px);
    background-color: var(--root-1);
    position:fixed;
    z-index:2900;
    top:58px;
    left:0;
    justify-content: space-between;
    transition: left .25s ease-in-out;
}

#sidebar-body, #sidebar-footer, #sidebar, .sidebar-nav-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-body {
    height: calc(100vh - 128px);
    width:100%;
    padding: 10px 0;
    overflow-x:hidden;
    overflow-y:auto;
}

#sidebar-body::-webkit-scrollbar {
    display:none;
}

.sidebar-nav-wrapper {
    width:65px;
    height:60px;
    display:flex;
    border-left: 5px solid transparent !important;
    text-decoration: none;
    transition: border-left-color .15s ease-out;
}

.sidebar-nav-link {
    text-decoration: none;
    outline:none;
}

.sidebar-nav-link, .sidebar-nav-link:hover, .sidebar-nav-link:focus,
.sidebar-nav-wrapper, .sidebar-nav-wrapper:hover, .sidebar-nav-wrapper:focus {
    background-color:transparent !important;
}

.sidebar-nav-link-active > button.sidebar-nav-wrapper {
    border-left-color: var(--primary-1) !important;
}

.sidebar-nav-link-active > button.sidebar-nav-wrapper > i.material-icons {
    color: var(--text) !important;
}

.sidebar-nav-wrapper > i.material-icons {
    font-size: 32px;
    color:var(--text-1);
    text-decoration: none;
    cursor:pointer;
}

.sidebar-detail {
    display:none;
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
}

#sidebar-overlay {
    width:100%;
    height:100vh;
    position: fixed;
    z-index:2800;
    background-color:rgba(0,0,0,.625);
    opacity:0;
    z-index:-9000;
    transition: opacity .25s ease-in-out;
}

.sidebar-nav-link:focus > .sidebar-nav-wrapper {
    border-left-color: var(--secondary) !important;
}